{% assign current = name %}
{% assign parent = base %}
{% capture breadcrumb %}{{ name | prepend:parent }}{% endcapture %}

<h2><a href="#{{  breadcrumb }}" id="{{ breadcrumb }}">{{ name  }} -- {{ breadcrumb }}</a></h2>
<p>{{ resource.description | prettyprint}}</p>

{% if resource.attributes != nil %}

  <h3>Attributes</h3>

  {% for attr in resource.attributes %}
    {% assign name = attr[0]  %}
    {% assign attribute = attr[1] %}
    {% capture breadcrumb %}{{ name | prepend:current | prepend:parent }}{% endcapture %}
    {% include 'attribute' with attribute %}
  {% endfor %}
{% endif %}

{% if resource.operations != nil %}
  <h3>Operations</h3>

  {% for attr in resource.operations %}
    {% assign name = attr[0] %}
    {% assign operation = attr[1] %}
    {% capture breadcrumb %}{{ name | prepend:current | prepend:parent | append:'()' }}{% endcapture %}
    {% include 'operation' with operation %}
  {% endfor %}
{% endif %}

{% if resource.children != nil %}
  <h3>Subresources</h3>
    {% capture parent %}{{ current | prepend:parent  }}{% endcapture %}

    parent: {{ parent}}

  {% for attr in resource.children %}
    {% assign childname = attr[0] %}
    {% assign child = attr[1] %}
    {% capture breadcrumb %}{{ childname | prepend:base }}{% endcapture %}

    childname: {{ childname}}
    breadcrumb: {{ breadcrumb}}
    <h2>TT<a href="#{{ breadcrumb }}" id="{{ breadcrumb }}">{{ childname  }} - {{ breadcrumb }}</a></h2>
    <p>{{ child.description | prettyprint}}</p>
    {% if child.model-description != nil %}
      {% for res in child.model-description %}
        {% assign name = res[0] %}
        {% assign subresource = res[1] %}
        {% assign base = breadcrumb %}
        BEFORE {{parent}}
        {% include 'resource' with subresource %}

        AFTER {{parent}}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}

