<h4><a href="#{{ name | prepend:base }}" id="{{ name | prepend:base }}">{{ name  }}</a></h4>
<p>{{ attribute.description }}</p>
<ul>
    {% assign type = attribute.type.TYPE_MODEL_VALUE %}
    <li>type:{{ type }} 
       {% if type == 'OBJECT' or type == 'LIST' %}
       of {{ attribute.value-type.TYPE_MODEL_VALUE }} values
       {% endif %}</li>
    {% if attribute contains 'required' %}
    <li>required: {{ attribute.required }}
    {% endif %}
    {% if attribute contains 'default' %}
      <li>default: {{ attribute.default }}
    {% endif %}
    {% if attribute contains 'unit' %}
      <li>unit: {{ attribute.unit }}
    {% endif %}
    {% if attribute contains 'nillable' %}
      <li>nillable: {{ attribute.nillable }}
    {% endif %}
    {% if attribute contains 'access-type' %}
      <li>access-type: {{ attribute.access-type }}
    {% endif %}
    {% if attribute contains 'storage' %}
      <li>storage: {{ attribute.storage }}
    {% endif %}
    {% if attribute contains 'min-length' %}
      <li>min-length: {{ attribute.min-length }}
    {% endif %}
    {% if attribute contains 'max-length' %}
      <li>max-length: {{ attribute.max-length }}
    {% endif %}
    {% if attribute contains 'allowed' %}
      <li>allowed: {{ attribute.allowed | join:', ' }}
    {% endif %}
    {% if attribute contains 'head-comment-allowed'  %}
      <li>head-comment-allowed : {{ attribute.head-comment-allowed | join:', ' }}
    {% endif %}
    {% if attribute contains 'tail-comment-allowed'  %}
      <li>tail-comment-allowed : {{ attribute.tail-comment-allowed | join:', ' }}
    {% endif %}
    {% if attribute contains 'restart-required'  %}
      <li>restart-required: {{ attribute.restart-required }}
    {% endif %}
</ul>
{% comment %}
<code>{{ attribute }}</code>
{% endcomment %}

